# built application files
*.apk
*.ap_
*.keystore

# files for the dex VM
*.dex

# Java class files
*.class

# platforms
cordova/platforms/

# plugins
cordova/plugins/

# OSX
.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Vue
npm-debug.log
selenium-debug.log
client/node_modules/
client/test/unit/coverage
client/test/e2e/reports